<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            MSI does not seem to allow dependent features
            http://forum.installsite.net/index.php?showtopic=20205
        -->
        <Feature Id="SupportFiles"
            Title="Support files"
            Display="expand"
            Level="1"
            Absent="disallow"
            AllowAdvertise="no"
            ConfigurableDirectory="SUPPORT_ROOT"
        >
            <ComponentRef Id="CMP_ID_1"/>
            <ComponentRef Id="CMP_ID_2"/>
            <ComponentRef Id="CMP_ID_3"/>
            <ComponentRef Id="CMP_ID_4"/>
            <ComponentRef Id="CMP_ID_5"/>
            <ComponentRef Id="CMP_ID_6"/>
            <ComponentRef Id="CMP_ID_7"/>
            <ComponentRef Id="CMP_ID_8"/>
            <ComponentRef Id="CMP_ID_9"/>
            <ComponentRef Id="CMP_ID_10"/>
            <ComponentRef Id="CMP_ID_11"/>
            <ComponentRef Id="CMP_ID_12"/>
            <ComponentRef Id="CMP_ID_13"/>
            <ComponentRef Id="CMP_ID_14"/>
            <ComponentRef Id="CMP_ID_15"/>
            <ComponentRef Id="CMP_ID_16"/>
            <ComponentRef Id="CMP_ID_17"/>
            <ComponentRef Id="CMP_ID_18"/>
            <ComponentRef Id="CMP_ID_19"/>
            <ComponentRef Id="CMP_ID_20"/>
            <ComponentRef Id="CMP_ID_21"/>
            <ComponentRef Id="CMP_ID_22"/>
            <ComponentRef Id="CMP_ID_23"/>
            <ComponentRef Id="CMP_ID_24"/>
            <ComponentRef Id="CMP_ID_25"/>
            <ComponentRef Id="CMP_ID_26"/>
            <ComponentRef Id="CMP_ID_27"/>
            <ComponentRef Id="CMP_ID_28"/>
            <ComponentRef Id="CMP_ID_29"/>
            <ComponentRef Id="CMP_ID_30"/>
            <ComponentRef Id="CMP_ID_31"/>
            <ComponentRef Id="CMP_ID_32"/>
            <ComponentRef Id="CMP_ID_33"/>
            <ComponentRef Id="CMP_ID_34"/>
            <ComponentRef Id="CMP_ID_35"/>
            <ComponentRef Id="CMP_ID_36"/>
            <ComponentRef Id="CMP_ID_37"/>
            <ComponentRef Id="CMP_ID_38"/>
            <ComponentRef Id="CMP_ID_39"/>
            <ComponentRef Id="CMP_ID_40"/>
            <ComponentRef Id="CMP_ID_41"/>
            <ComponentRef Id="CMP_ID_42"/>
            <ComponentRef Id="CMP_ID_43"/>
            <ComponentRef Id="CMP_ID_44"/>
            <ComponentRef Id="CMP_ID_45"/>
            <ComponentRef Id="CMP_ID_46"/>
            <ComponentRef Id="CMP_ID_47"/>
            <ComponentRef Id="CMP_ID_48"/>
            <ComponentRef Id="CMP_ID_49"/>
            <ComponentRef Id="CMP_ID_50"/>
            <ComponentRef Id="CMP_ID_51"/>
            <ComponentRef Id="CMP_ID_52"/>
            <ComponentRef Id="CMP_ID_53"/>
            <ComponentRef Id="CMP_ID_54"/>
            <ComponentRef Id="CMP_ID_55"/>
            <ComponentRef Id="CMP_ID_56"/>
            <ComponentRef Id="CMP_ID_57"/>
            <ComponentRef Id="CMP_ID_58"/>
            <ComponentRef Id="CMP_ID_59"/>
            <ComponentRef Id="CMP_ID_60"/>
            <ComponentRef Id="CMP_ID_61"/>
            <ComponentRef Id="CMP_ID_62"/>
            <ComponentRef Id="CMP_ID_63"/>
            <ComponentRef Id="CMP_ID_64"/>
            <ComponentRef Id="CMP_ID_65"/>
            <ComponentRef Id="CMP_ID_66"/>
            <ComponentRef Id="CMP_ID_67"/>
            <ComponentRef Id="CMP_ID_68"/>
            <ComponentRef Id="CMP_ID_69"/>
            <ComponentRef Id="CMP_ID_70"/>
            <ComponentRef Id="CMP_ID_71"/>
            <ComponentRef Id="CMP_ID_72"/>
            <ComponentRef Id="CMP_ID_73"/>
            <ComponentRef Id="CMP_ID_74"/>
            <ComponentRef Id="CMP_ID_75"/>
            <ComponentRef Id="CMP_ID_76"/>
            <ComponentRef Id="CMP_ID_77"/>
            <ComponentRef Id="CMP_ID_78"/>
            <ComponentRef Id="CMP_ID_79"/>
            <ComponentRef Id="CMP_ID_80"/>
            <ComponentRef Id="CMP_ID_81"/>
            <ComponentRef Id="CMP_ID_82"/>
            <ComponentRef Id="CMP_ID_83"/>
            <ComponentRef Id="CMP_ID_84"/>
            <ComponentRef Id="CMP_ID_85"/>
            <ComponentRef Id="CMP_ID_86"/>
            <ComponentRef Id="CMP_ID_87"/>
            <ComponentRef Id="CMP_ID_88"/>
            <ComponentRef Id="CMP_ID_89"/>
            <ComponentRef Id="CMP_ID_90"/>
            <ComponentRef Id="CMP_ID_91"/>
            <ComponentRef Id="CMP_ID_92"/>
            <ComponentRef Id="CMP_ID_93"/>
            <ComponentRef Id="CMP_ID_94"/>
            <ComponentRef Id="CMP_ID_95"/>
            <ComponentRef Id="CMP_ID_96"/>
            <ComponentRef Id="CMP_ID_97"/>
            <ComponentRef Id="CMP_ID_98"/>
            <ComponentRef Id="CMP_ID_99"/>
            <ComponentRef Id="CMP_ID_100"/>
            <ComponentRef Id="CMP_ID_101"/>
            <ComponentRef Id="CMP_ID_102"/>
            <ComponentRef Id="CMP_ID_103"/>
            <ComponentRef Id="CMP_ID_104"/>
            <ComponentRef Id="CMP_ID_105"/>
            <ComponentRef Id="CMP_ID_106"/>
            <ComponentRef Id="CMP_ID_107"/>
            <ComponentRef Id="CMP_ID_108"/>
            <ComponentRef Id="CMP_ID_109"/>
            <ComponentRef Id="CMP_ID_110"/>
            <ComponentRef Id="CMP_ID_111"/>
            <ComponentRef Id="CMP_ID_112"/>
            <ComponentRef Id="CMP_ID_113"/>
            <ComponentRef Id="CMP_ID_114"/>
            <ComponentRef Id="CMP_ID_115"/>
            <ComponentRef Id="CMP_ID_116"/>
            <ComponentRef Id="CMP_ID_117"/>
            <ComponentRef Id="CMP_ID_118"/>
            <ComponentRef Id="CMP_ID_119"/>
            <ComponentRef Id="CMP_ID_120"/>
            <ComponentRef Id="CMP_ID_121"/>
            <ComponentRef Id="CMP_ID_122"/>
            <ComponentRef Id="CMP_ID_123"/>
            <ComponentRef Id="CMP_ID_124"/>
            <ComponentRef Id="CMP_ID_125"/>
            <ComponentRef Id="CMP_ID_126"/>
            <ComponentRef Id="CMP_ID_127"/>
            <ComponentRef Id="CMP_ID_128"/>
            <ComponentRef Id="CMP_ID_129"/>
            <ComponentRef Id="CMP_ID_130"/>
            <ComponentRef Id="CMP_ID_131"/>
            <ComponentRef Id="CMP_ID_132"/>
            <ComponentRef Id="CMP_ID_133"/>
            <ComponentRef Id="CMP_ID_134"/>
            <ComponentRef Id="CMP_ID_135"/>
            <ComponentRef Id="CMP_ID_136"/>
            <ComponentRef Id="CMP_ID_137"/>
            <ComponentRef Id="CMP_ID_138"/>
            <ComponentRef Id="CMP_ID_139"/>
            <ComponentRef Id="CMP_ID_140"/>
            <ComponentRef Id="CMP_ID_141"/>
            <ComponentRef Id="CMP_ID_142"/>
            <ComponentRef Id="CMP_ID_143"/>
            <ComponentRef Id="CMP_ID_144"/>
            <ComponentRef Id="CMP_ID_145"/>
            <ComponentRef Id="CMP_ID_146"/>
            <ComponentRef Id="CMP_ID_147"/>
            <ComponentRef Id="CMP_ID_148"/>
            <ComponentRef Id="CMP_ID_149"/>
            <ComponentRef Id="CMP_ID_150"/>
            <ComponentRef Id="CMP_ID_151"/>
            <ComponentRef Id="CMP_ID_152"/>
            <ComponentRef Id="CMP_ID_153"/>
            <ComponentRef Id="CMP_ID_154"/>
            <ComponentRef Id="CMP_ID_155"/>
            <ComponentRef Id="CMP_ID_156"/>
            <ComponentRef Id="CMP_ID_157"/>
            <ComponentRef Id="CMP_ID_158"/>
            <ComponentRef Id="CMP_ID_159"/>
            <ComponentRef Id="CMP_ID_160"/>
            <ComponentRef Id="CMP_ID_161"/>
            <ComponentRef Id="CMP_ID_162"/>
            <ComponentRef Id="CMP_ID_163"/>
            <ComponentRef Id="CMP_ID_164"/>
            <ComponentRef Id="CMP_ID_165"/>
            <ComponentRef Id="CMP_ID_166"/>
            <ComponentRef Id="CMP_ID_167"/>
            <ComponentRef Id="CMP_ID_168"/>
            <ComponentRef Id="CMP_ID_169"/>
            <ComponentRef Id="CMP_ID_170"/>
            <ComponentRef Id="CMP_ID_171"/>
            <ComponentRef Id="CMP_ID_172"/>
            <ComponentRef Id="CMP_ID_173"/>
            <ComponentRef Id="CMP_ID_174"/>
            <ComponentRef Id="CMP_ID_175"/>
            <ComponentRef Id="CMP_ID_176"/>
            <ComponentRef Id="CMP_ID_177"/>
            <ComponentRef Id="CMP_ID_178"/>
            <ComponentRef Id="CMP_ID_179"/>
            <ComponentRef Id="CMP_ID_180"/>
            <ComponentRef Id="CMP_ID_181"/>
            <ComponentRef Id="CMP_ID_182"/>
            <ComponentRef Id="CMP_ID_183"/>
            <ComponentRef Id="CMP_ID_184"/>
            <ComponentRef Id="CMP_ID_185"/>
            <ComponentRef Id="CMP_ID_186"/>
            <ComponentRef Id="CMP_ID_187"/>
            <ComponentRef Id="CMP_ID_188"/>
            <ComponentRef Id="CMP_ID_189"/>
            <ComponentRef Id="CMP_ID_190"/>
            <ComponentRef Id="CMP_ID_191"/>
            <ComponentRef Id="CMP_ID_192"/>
            <ComponentRef Id="CMP_ID_193"/>
            <ComponentRef Id="CMP_ID_194"/>
            <ComponentRef Id="CMP_ID_195"/>
            <ComponentRef Id="CMP_ID_196"/>
            <ComponentRef Id="CMP_ID_197"/>
            <ComponentRef Id="CMP_ID_198"/>
            <ComponentRef Id="CMP_ID_199"/>
            <ComponentRef Id="CMP_ID_200"/>
            <ComponentRef Id="CMP_ID_201"/>
            <ComponentRef Id="CMP_ID_202"/>
            <ComponentRef Id="CMP_ID_203"/>
            <ComponentRef Id="CMP_ID_204"/>
            <ComponentRef Id="CMP_ID_205"/>
            <ComponentRef Id="CMP_ID_206"/>
            <ComponentRef Id="CMP_ID_207"/>
            <ComponentRef Id="CMP_ID_208"/>
            <ComponentRef Id="CMP_ID_209"/>
            <ComponentRef Id="CMP_ID_210"/>
            <ComponentRef Id="CMP_ID_211"/>
            <ComponentRef Id="CMP_ID_212"/>
            <ComponentRef Id="CMP_ID_213"/>
            <ComponentRef Id="CMP_ID_214"/>
            <ComponentRef Id="CMP_ID_215"/>
            <ComponentRef Id="CMP_ID_216"/>
            <ComponentRef Id="CMP_ID_217"/>
            <ComponentRef Id="CMP_ID_218"/>
            <ComponentRef Id="CMP_ID_219"/>
            <ComponentRef Id="CMP_ID_220"/>
            <ComponentRef Id="CMP_ID_221"/>
            <ComponentRef Id="CMP_ID_222"/>
            <ComponentRef Id="CMP_ID_223"/>
            <ComponentRef Id="CMP_ID_224"/>
            <ComponentRef Id="CMP_ID_225"/>
            <ComponentRef Id="CMP_ID_226"/>
            <ComponentRef Id="CMP_ID_227"/>
            <ComponentRef Id="CMP_ID_228"/>
            <ComponentRef Id="CMP_ID_229"/>
            <ComponentRef Id="CMP_ID_230"/>
            <ComponentRef Id="CMP_ID_231"/>
            <ComponentRef Id="CMP_ID_232"/>
            <ComponentRef Id="CMP_ID_233"/>
            <ComponentRef Id="CMP_ID_234"/>
            <ComponentRef Id="CMP_ID_235"/>
            <ComponentRef Id="CMP_ID_236"/>
            <ComponentRef Id="CMP_ID_237"/>
            <ComponentRef Id="CMP_ID_238"/>
            <ComponentRef Id="CMP_ID_239"/>
            <ComponentRef Id="CMP_ID_240"/>
            <ComponentRef Id="CMP_ID_241"/>
            <ComponentRef Id="CMP_ID_242"/>
            <ComponentRef Id="CMP_ID_243"/>
            <ComponentRef Id="CMP_ID_244"/>
            <ComponentRef Id="CMP_ID_245"/>
            <ComponentRef Id="CMP_ID_246"/>
            <ComponentRef Id="CMP_ID_247"/>
            <ComponentRef Id="CMP_ID_248"/>
            <ComponentRef Id="CMP_ID_249"/>
            <ComponentRef Id="CMP_ID_250"/>
            <ComponentRef Id="CMP_ID_251"/>
            <ComponentRef Id="CMP_ID_252"/>
            <ComponentRef Id="CMP_ID_253"/>
            <ComponentRef Id="CMP_ID_254"/>
            <ComponentRef Id="CMP_ID_255"/>
            <ComponentRef Id="CMP_ID_256"/>
            <ComponentRef Id="CMP_ID_257"/>
            <ComponentRef Id="CMP_ID_258"/>
            <ComponentRef Id="CMP_ID_259"/>
            <ComponentRef Id="CMP_ID_260"/>
            <ComponentRef Id="CMP_ID_261"/>
            <ComponentRef Id="CMP_ID_262"/>
            <ComponentRef Id="CMP_ID_263"/>
            <ComponentRef Id="CMP_ID_264"/>
            <ComponentRef Id="CMP_ID_265"/>
            <ComponentRef Id="CMP_ID_266"/>
            <ComponentRef Id="CMP_ID_267"/>
            <ComponentRef Id="CMP_ID_268"/>
            <ComponentRef Id="CMP_ID_269"/>
            <ComponentRef Id="CMP_ID_270"/>
            <ComponentRef Id="CMP_ID_271"/>
            <ComponentRef Id="CMP_ID_272"/>
            <ComponentRef Id="CMP_ID_273"/>
            <ComponentRef Id="CMP_ID_274"/>
            <ComponentRef Id="CMP_ID_275"/>
            <ComponentRef Id="CMP_ID_276"/>
            <ComponentRef Id="CMP_ID_277"/>
            <ComponentRef Id="CMP_ID_278"/>
            <ComponentRef Id="CMP_ID_279"/>
            <ComponentRef Id="CMP_ID_280"/>
            <ComponentRef Id="CMP_ID_281"/>
            <ComponentRef Id="CMP_ID_282"/>
            <ComponentRef Id="CMP_ID_283"/>
            <ComponentRef Id="CMP_ID_284"/>
            <ComponentRef Id="CMP_ID_285"/>
            <ComponentRef Id="CMP_ID_286"/>
            <ComponentRef Id="CMP_ID_287"/>
            <ComponentRef Id="CMP_ID_288"/>
            <ComponentRef Id="CMP_ID_289"/>
            <ComponentRef Id="CMP_ID_290"/>
            <ComponentRef Id="CMP_ID_291"/>
            <ComponentRef Id="CMP_ID_292"/>
            <ComponentRef Id="CMP_ID_293"/>
            <ComponentRef Id="CMP_ID_2931"/>
            <ComponentRef Id="CMP_ID_2932"/>
            <ComponentRef Id="CMP_ID_294"/>
            <ComponentRef Id="CMP_ID_295"/>
            <ComponentRef Id="CMP_ID_296"/>
            <ComponentRef Id="CMP_ID_297"/>
            <ComponentRef Id="CMP_ID_298"/>
            <ComponentRef Id="CMP_ID_299"/>
            <ComponentRef Id="CMP_ID_300"/>
            <ComponentRef Id="CMP_ID_301"/>
            <ComponentRef Id="CMP_ID_302"/>
            <ComponentRef Id="CMP_ID_303"/>
            <ComponentRef Id="CMP_ID_304"/>
            <ComponentRef Id="CMP_ID_305"/>
            <ComponentRef Id="CMP_ID_308"/>
            <ComponentRef Id="CMP_ID_309"/>
            <ComponentRef Id="CMP_ID_310"/>
            <ComponentRef Id="CMP_ID_311"/>
            <ComponentRef Id="CMP_ID_312"/>
            <ComponentRef Id="CMP_ID_313"/>
            <ComponentRef Id="CMP_ID_314"/>
            <ComponentRef Id="CMP_ID_315"/>
            <ComponentRef Id="CMP_ID_316"/>
            <ComponentRef Id="CMP_ID_317"/>
            <ComponentRef Id="CMP_ID_318"/>
            <ComponentRef Id="CMP_ID_319"/>
            <ComponentRef Id="CMP_ID_320"/>
            <ComponentRef Id="CMP_ID_321"/>
            <ComponentRef Id="CMP_ID_322"/>
            <ComponentRef Id="CMP_ID_323"/>
            <ComponentRef Id="CMP_ID_324"/>
            <ComponentRef Id="CMP_ID_325"/>
            <ComponentRef Id="CMP_ID_326"/>
            <ComponentRef Id="CMP_ID_327"/>
            <ComponentRef Id="CMP_ID_328"/>
            <ComponentRef Id="CMP_ID_329"/>
            <ComponentRef Id="CMP_ID_330"/>
            <ComponentRef Id="CMP_ID_331"/>
            <ComponentRef Id="CMP_ID_332"/>
            <ComponentRef Id="CMP_ID_333"/>
            <ComponentRef Id="CMP_ID_334"/>
            <ComponentRef Id="CMP_ID_335"/>
            <ComponentRef Id="CMP_ID_336"/>
            <ComponentRef Id="CMP_ID_337"/>
            <ComponentRef Id="CMP_ID_338"/>
            <ComponentRef Id="CMP_ID_339"/>
            <ComponentRef Id="CMP_ID_340"/>
            <ComponentRef Id="CMP_ID_341"/>
            <ComponentRef Id="CMP_ID_342"/>
            <ComponentRef Id="CMP_ID_343"/>
            <ComponentRef Id="CMP_ID_344"/>
            <ComponentRef Id="CMP_ID_345"/>
            <ComponentRef Id="CMP_ID_346"/>
            <ComponentRef Id="CMP_ID_347"/>
            <ComponentRef Id="CMP_ID_348"/>
            <ComponentRef Id="CMP_ID_349"/>
            <ComponentRef Id="CMP_ID_350"/>
            <ComponentRef Id="CMP_ID_351"/>
            <ComponentRef Id="CMP_ID_352"/>
            <ComponentRef Id="CMP_ID_353"/>
            <ComponentRef Id="CMP_ID_354"/>
            <ComponentRef Id="CMP_ID_355"/>
            <ComponentRef Id="CMP_ID_356"/>
            <ComponentRef Id="CMP_ID_357"/>
            <ComponentRef Id="CMP_ID_358"/>
            <ComponentRef Id="CMP_ID_359"/>
            <ComponentRef Id="CMP_ID_360"/>
            <ComponentRef Id="CMP_ID_361"/>
            <ComponentRef Id="CMP_ID_362"/>
            <ComponentRef Id="CMP_ID_363"/>
            <ComponentRef Id="CMP_ID_364"/>
            <ComponentRef Id="CMP_ID_365"/>
            <ComponentRef Id="CMP_ID_366"/>
            <ComponentRef Id="CMP_ID_367"/>
            <ComponentRef Id="CMP_ID_368"/>
            <ComponentRef Id="CMP_ID_369"/>
            <ComponentRef Id="CMP_ID_369_66"/>
            <ComponentRef Id="CMP_ID_369_67"/>
            <ComponentRef Id="CMP_ID_369_68"/>
            <ComponentRef Id="CMP_ID_370"/>
            <ComponentRef Id="CMP_ID_371"/>
            <ComponentRef Id="CMP_ID_372"/>
            <ComponentRef Id="CMP_ID_373"/>
            <ComponentRef Id="CMP_ID_374"/>
            <ComponentRef Id="CMP_ID_375"/>
            <ComponentRef Id="CMP_ID_376"/>
            <ComponentRef Id="CMP_ID_377"/>
            <ComponentRef Id="CMP_ID_378"/>
            <ComponentRef Id="CMP_ID_379"/>
            <ComponentRef Id="CMP_ID_380"/>
            <ComponentRef Id="CMP_ID_381"/>
            <ComponentRef Id="CMP_ID_382"/>
            <ComponentRef Id="CMP_ID_383"/>
            <ComponentRef Id="CMP_ID_384"/>
            <ComponentRef Id="CMP_ID_385"/>
            <ComponentRef Id="CMP_ID_386"/>
            <ComponentRef Id="CMP_ID_387"/>
            <ComponentRef Id="CMP_ID_388"/>
        </Feature>
        <!-- http://www.installsite.org/pages/en/isnews/200102/CustomSetupOptions.htm -->
        <Feature Id="VST24"
            Title="VST 2.4 plugin"
            Level="1"
            Absent="disallow"
            AllowAdvertise="no"
            ConfigurableDirectory="VST24_ROOT"
        >
            <ComponentRef Id="CMP_VST24_DLL"/>
        </Feature>
        <Feature Id="StartMenu"
                    Title="Start Menu shortcuts"
                    Level="1"
                    AllowAdvertise="no"
                    ConfigurableDirectory="START_MENU_FOLDER"
        >
            <ComponentRef Id="StartMenuShortcuts" />
            <ComponentRef Id="CMP_ID_3"/>
        </Feature>
    </Fragment>
</Wix>